<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <!-- Header -->
  <header class="w-full bg-orange-100">
    <div class="container mx-auto flex justify-between items-center py-4 px-24">
        <a href="{% url 'home' %}" class="text-4xl font-bold text-orange-500" style="font-family: 'Dancing Script', cursive;">RasoiHub</a>
        {% block navbar %}
          {% include "core/components/navbar.html" %}
        {% endblock navbar %}
        <div class="flex space-x-4 items-center ">
            <input type="text" placeholder="Search" class="border rounded-lg px-2 py-1 focus:outline-none bg-orange-100">
            <div class="relative">
                <span class="absolute left-4 bottom-3 bg-orange-500 text-white rounded-full text-xs w-5 h-5 flex items-center justify-center">2</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>
            </div>
        </div>
    </div>
  </header>
  
  {% block hero %}{% endblock hero %}
  {% block maincontent %}{% endblock maincontent %}
  {% block footer %}
    {% include "core/components/footer.html" %}
  {% endblock footer %}

  <script>
    // JavaScript to dynamically update the year
    document.getElementById('year').textContent = new Date().getFullYear();
  </script>
</body>
</html>